body{
  background-color: #aecff8 ;
  background-blend-mode:darken;
  color :rgb(22, 21, 21);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size:20px;
  line-height: 1.4;
}

h3 {
  color:#aecff8 ;
  font-family:sans-serif;
  font-size: 25px;
}
#container{
    width: 40%;
    margin:0 auto;
    margin-top:5%;
    margin-left:20%;
    margin-right:22%;
}
#container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
}
input, select {
    width: auto;
    padding: 12px 50px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    display: inline-block;
    box-sizing: border-box;
    border-radius:10px;
  }
  
input:focus {
    border: 3px solid #aecff8;
}
input[type=submit], input[type=reset]{
    background-color: #5d9ff0;
    color: black;
    padding: 14px 20px;
    margin: 8px 10px;
    border: none;
    cursor: pointer;
    width: 25%;
    font-size:20px;

}
input[type=submit]:hover, input[type=reset]:hover {
  opacity: 0.8;
}
.fieldset{
    margin:10px;
    border:none;
    background-color:#FFFFFF;
    border-radius:10px;
    padding:20px;
    width: 100; 
  }
   legend{
      font-family:verdana, arial, sans-serif;
      font-size:14pt;
      font-weight:bold;
      color:#FFFFFF;
      margin:10px;
      padding:10px 20px 10px 20px;
      background-color:#aecff8;
      border-radius:4px;
   }
   td{
    width:5%;
   }
